.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  font-family: source sans pro, sans-serif;
}

.home-page .container{
  text-align: left;
}

.article-meta .author-image
{
  height: 30px;
  width: 30px;
}

.article-detail
{
  width: 100%;
  text-align: left;
}

.banner
{
  text-align: left;
}

.article-meta .author-image
{
  height: 30px;
  width: 30px;
}

p{
  text-align: left;
}

.display-inline
{
  display: inline-block !important;
  margin-right: 15px;
}

.article-preview
{
  text-align: left;
}

.article-meta button img{
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.nav-item .nav-link img
{
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.commonts-container{

  width: 70% !important;
  text-align:left !important;
  margin-left: 10% !important;
}

.hr-setting{

  margin-top: 80px !important;
}

.logout-button{
  float: left;
}

.edit-button{
  display: inline-block;
  margin-top: 20px;
}

.article-source
{
  display: inline-block;
}