.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-page .container {
  text-align: left;
}

.article-meta .author-image {
  height: 30px;
  width: 30px;
}

.article-detail h1 {
  width: 100%;
  text-align: left;
  word-break: all;
}

.banner {
  text-align: left;
}

.article-meta .author-image {
  height: 30px;
  width: 30px;
}

p {
  text-align: left;
}

.nav-item .display-inline {
  display: inline-block;
  margin-right: 15px;
}

.article-preview {
  text-align: left;
}

.article-meta button img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.nav-item .nav-link img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.commonts-container {
  width: 70%;
  text-align: left;
  margin-left: 10%;
}

.settings-page .hr-setting {
  margin-top: 80px;
}

.logout-button {
  float: left;
}

.edit-button {
  display: inline-block;
  margin-top: 20px;
}

.edit-button button {
  margin-right: 5px;
}

.article-source {
  display: inline-block;
}

.navbar-nav .nav-item .user-pic {
  height: 26px;
  width: 26px;
}

.home-page .col-md-9 {
  width: 85%;
}

.sign_Alert{
  color: rgb(233, 131, 35);
}

.pagination{
  display: flex;
  flex-wrap: wrap;
}

.pagination a{
  text-decoration: none;
}

.logo-font span{
  margin-bottom: 10px;
  font-size: 12px;
}